.searchBtn {
  height: fit-content;
}

.myBox {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

.myBoxInfo {
  background-color: rgba(51, 134, 51, 0.199) !important;
  border-radius: 12px;
}
.myCardData small {
  /* background-color: aqua; */
  /* font-size: 10px; */
}
